@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { required = "required" })
  <br />
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty, new { required = "required" })
  <br />
  @Html.LabelFor(model => model.Rate)
  @Html.TextBoxFor(model => model.Rate, new { required = "required" })
  <br />
  @Html.LabelFor(model => model.PhotoUrl)
  @Html.TextBoxFor(model => model.PhotoUrl, new { placeholder = "https://picsum.photos/200", required = "required" })
  <br />
  <input type="submit" value="Create" />
}

